<h1>Now Playing</h1>

<div>
  <% @movies.each do |movie| %>
    <div>
      <p><%= link_to movie.title, movie_path(movie) %></p>
      <p><%= movie.release_date %></p>
      <p><%= movie.genre %></p>
      <p><%= movie.director %></p>
      <p><%= movie.actors %></p>
      <p><%= movie.description %></p>
    </div>
  <% end %>
</div>