<!DOCTYPE html>
<html>
<head>
  <title>Freshtomatoes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>

  <span><%= link_to 'Home', root_path %></span>
  <span><%= link_to 'Add Movie', new_movie_path %></span>
  
  <% if logged_in? %>
    <span><%= link_to 'Log Out', logout_path, method: :delete %></span>
    <span><%= link_to 'Profile', current_user %></span>
  <% else %>
    <span><%= link_to 'Sign Up', signup_path %></span>
    <span><%= link_to 'Log In', login_path %></span>
  <% end %>

</header>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% elsif flash[:alert] %>
  <%= flash[:alert] %>
<% end %>

<%= yield %>

</body>
</html>
